<nz-layout>
  <nz-header>
    <div class="logo">
      <i nz-icon nzType="global" nzTheme="outline"></i>
      <span class="ms-2">LogLog</span>
    </div>

    <nz-input-group [nzAddOnAfter]="suffixIconSearch" nzSize="large" class="input-search">
      <input type="text" nz-input placeholder="Tìm kiếm trên LogLog" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="search" />
    </ng-template>

    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout style="margin-top: 64px;">
    <nz-sider nzCollapsible nzWidth="360px" nzTheme="light">
      <ul nz-menu nzMode="inline">
        <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
        <ng-template #menuTpl let-menus>
          @for (menu of menus; track menu) {
          @if (!menu.children) {
          <li nz-menu-item [nzPaddingLeft]="menu.level * 24" [nzDisabled]="menu.disabled" [nzSelected]="menu.selected">
            @if (menu.icon) {
            <nz-icon [nzType]="menu.icon" />
            }
            <span>{{ menu.title }}</span>
          </li>
          } @else {
          <li nz-submenu [nzPaddingLeft]="menu.level * 24" [nzOpen]="menu.open" [nzTitle]="menu.title"
            [nzIcon]="menu.icon" [nzDisabled]="menu.disabled">
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }" />
            </ul>
          </li>
          }
          }
        </ng-template>
      </ul>
    </nz-sider>

    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>

    <div class="right-layout">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item nzSelected>Option 1</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 2</li>
        <li nz-menu-item>Option 2</li>
      </ul>
    </div>
  </nz-layout>
</nz-layout>